NODE_ENV=development
PORT=4000
POSTGRES_URL=neon_db_postgres_URL
JWT_SECRET=random generated secret
COOKIE_SECRET=random generated secret

JWT_ACCESS_SECRET=random generated secret
JWT_REFRESH_SECRET=random generated secret


R2_ACCOUNT_ID=cloudfare
R2_ACCESS_KEY_ID=cloudfare
R2_SECRET_ACCESS_KEY=cloudfare
R2_BUCKET_NAME=app_name
R2_PUBLIC_DOMAIN=cloudfare

Token_Value=random generated secret
